.jumbotron {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(131, 130, 129, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("img/sadap1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#products {
  background-size: cover;
  background-color: #f4623a;
}

section {
  background-size: cover;
  background-color: #f4623a;
  padding-top: 5rem;
}
